h1#title {
    font-family: 宋体;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jumbotron {
    min-height: 600px;
}
h1.display-4 {
    margin-top: 100px;
}

div.login {
    border: 2px black solid;
    width: 30%;
    padding: 20px;
    background: white;
    float: right;
    margin-right: 10%;
}

.login h2 h1 {
    text-align: center;
    font-family: 宋体;
    font-weight: bold;
}

.login h1 {
    text-align: center;
}

div.form_field {
    margin-top: 30px;
}

input#submitbotton {
    margin-top: 30px;
    font-family: 宋体;
    font-size: 20px;
}

.login #enroll {
    float: right;
}
body a{
    text-decoration: none;
    color:black;
}
body a:hover{
    text-decoration: none;
    color:gray;
}
